form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .inputs{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        input{
            width: 20rem;
            font-size: 1rem;
            padding: 1rem;
            background-color: #fffe;
            color: #000;
            outline: none;
            border: none;
            border-radius: 0.25rem;
            margin-top: 0.5rem;
        }
    }

    .show{
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 0.5rem;

      input{
        
        cursor: pointer;

        &:checked {
            accent-color: #133a95;
        }
      }
    }

    button{
        font-size: 1.25rem;
        padding: 0.75rem 0;
    }

    .recovery{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

    
